# Pruebas módulo Rut.py

In [1]:
from pandas import DataFrame
from Rut import calc_dv, get_dv

df = DataFrame({"ruts": [15478221, 8744183, 21794543, 1445, 123]})

In [2]:
calc_dv(15478221)

4

In [3]:
calc_dv("8744183")

0

In [4]:
get_dv(df, "ruts", "dv")

       ruts  dv
0  15478221   4
1   8744183   0
2  21794543   7
3      1445   1
4       123   6

In [5]:
get_dv(df=df, rut_fname="ruts", dv_fname="dv", rut_dv=True, zero_filled=False, with_dot=False)

       ruts  dv      RUT_DV
0  15478221   4  15478221-4
1   8744183   0   8744183-0
2  21794543   7  21794543-7
3      1445   1      1445-1
4       123   6       123-6

In [6]:
get_dv(df=df, rut_fname="ruts", dv_fname="dv", rut_dv=True, zero_filled=True, with_dot=False)

       ruts  dv      RUT_DV
0  15478221   4  15478221-4
1   8744183   0  08744183-0
2  21794543   7  21794543-7
3      1445   1  00001445-1
4       123   6  00000123-6

In [7]:
get_dv(df=df, rut_fname="ruts", dv_fname="dv", rut_dv=True, zero_filled=True, with_dot=True)

       ruts  dv        RUT_DV
0  15478221   4  15.478.221-4
1   8744183   0  08.744.183-0
2  21794543   7  21.794.543-7
3      1445   1  00.001.445-1
4       123   6  00.000.123-6

In [8]:
get_dv(df=df, rut_fname="ruts", dv_fname="dv", rut_dv=True, zero_filled=False, with_dot=True)

       ruts  dv        RUT_DV
0  15478221   4  15.478.221-4
1   8744183   0   8.744.183-0
2  21794543   7  21.794.543-7
3      1445   1       1.445-1
4       123   6         123-6

# Pruebas módulo Indicadores.py